/*main*/

#vid{
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 2em;
    padding: 5px;
}

#faq p,h1{
    color: #222222;
    width:90%;
    margin:1% auto;
}

#faq h1{
    color: teal;
}
td{
    padding: 20px;
    outline: thick solid #EDEDED;
}


#faq ul{
    margin-left: 50px;
}