/*main*/
#ballina{
    background-image: url('../images/bg_6.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    height: 550px;

}
#vid{
    text-align: center;
    font-style: italic;
    font-size: 2em;
    padding-top: 30px;
}
#vid h2{
    color: white;
    padding-bottom: 20px;
}

#faq p{
    color: #222222;
    width:90%;
    margin:1% auto;
}

#faq h1{
    color:   rgb(192, 127, 66);
}
td{
    outline: thick solid #EDEDED;
    background-color:#E3D3C5;
}


#faq ul{
    margin-left: 50px;
}