#ballina{
    background-image: url('../images/bg_5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;

}
td{
    padding: 20px;
} 


table {
    margin: 80px 120px;
    border-collapse: collapse;
    border: 1px solid #000;
outline-style: groove;
}


td:hover {background-color: #f5f5f5;}

main section h1{
    text-align: center;
    margin: 10px auto;
    color:rgb(82, 56, 46);
}

main section{
    
    background-color: rgb(192, 146, 128);
    color: black;
    padding: 20px;
}

#paragrafi{
    font-size: 1.2em;
    padding: 10px;
    column-count: 4;
    column-gap: 20px;
}
#game{
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    width: 300px;
    height: 30px;
    background-color: #2d2d2d;
}

#game a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2em;
}

#clickme{
    margin: 5% 40%;
}

.buttonClick{
    background-color: #2d2d2d;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    width: 300px;
    height: 60px;
    margin: 5px;
}