
html, body, header, nav,  section, h1, ul, body, p, footer{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}
/*stilizimi i header*/
header{
    font-family: "Caslon SB Regular SC", Caslon Classico SC;
    background-color: #2B2B2B;
}




header p{
    color: white;
}


.title p
{ font-size: 14px;
    color: white;
    background-color:grey;
    margin: 0px;
    text-align: center;
    padding:10px 100px;
}
.feature1, .feature2
{
    position: relative;
}


header h1,p{
    color: white;
    margin-left: 15px;
}

h1{
    font-size: 1.4em;
    padding-top: 30px;
}

nav ul li a{
    color: white;
    padding: 0.5em;
    text-decoration: none;
}

nav ul li {
    list-style: none;
    display: inline;
}


nav#mainMenu{
    font-size: 0.75em;
    text-align: right;
    padding-right: 1em;
    padding-bottom: 2em;
}


header input[type="search"]{
    float: right;
    background-color:#2B2B2B;
    border-style: none;
    font-size: medium;
    padding: 5px;
    border-radius:20px;
    margin-top: 1em;
}



/*stilizimi i main*/
div.of {
	text-align: center;
	font-size: 25px;	
	margin:0 25%;
	border: 1px solid white;
	border-radius:40px;		
}

article.services, div.sherbimet_tona section{
	padding:1.166%;
	opacity: 0.9;
	}
article.services {
	text-align:center;
    }
    article.services div.sherbimet_tona section{
        display: inline;
    }

    .left {
        padding:10px;
        float:left;
      }
      
      .main {
        padding:10px;
        float:left;
      }
      
      .right {
        padding:10px;
        /* width:33%; The width is 20%, by default */
      }
      main p{
          color: black;
      }
      

      h1.kategorite_h{
          border-top: teal solid 2px;
          width: 100%;
          color: teal;
          font-size: 2em;
          text-align: center;
          padding-bottom: 30px;
      }

      div.kategorite {
        background-color: teal;
        display:flex;
        width:100%;
        flex-direction:row;
        justify-content:space-around;
    }
    div.kategorite div{
        background-color: white;
    }
    div.kategorite div.kat1 {
        width:20em;
        box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin:2em;
    }
    div.kat1 div.shkrim  p{
        margin:1em;
        text-align:center;
        line-height:2em;
        }
    div.kat1 div.shkrim {
        text-align:center;
        }
        
    div.kat1 img {
        width:100%;
        }
        
    div.kat1:hover img {
        filter:sepia(0.5);
        }	
      

  /*footer*/


footer >div{
    padding: 42px 120px;
    float:left;
    background-color: #EDEDED  ;  
    border-bottom: 1px solid black;
    
    
}
.footerDivs{
    
    display: inline-block;
    width:23.1%;
    margin-left:10px;
    padding-left:0.1%;
    float: left;
    
}



#blog { margin-left:10px; }





a {
    color: green;
    text-decoration:none;
  }

.divHeader{
    
    color: black;
    padding-bottom:15px;
    
}



footer nav ul {
    padding-top:15px;


}

footer nav ul li{
    color:red;
    font-size:0.5em;
    border-bottom: 1px solid #404040;
    padding-bottom:2.5px;

    
}

footer nav ul li a{
    color: black;
    font-size:2em;
    text-decoration:none;


}




form{
    padding-top:15px;
}

footer [name]{
    margin-bottom:6px;
    padding: 10px;
    width: 90%;
    background-color: white;
    border: none;
    border-radius:6px;
    resize:none;
    
}

[type=submit]{
    color: white;
    background-color: #222222;
    font-weight:bold;
    border:none;
    border-radius:6px;
    width: 40%;
    height:30px;;
}

[type=submit]:hover{
    background-color: #505050;
    color: red;
    cursor: pointer;
}



footer > p{
    margin: 0px;
    color:white;
    border-top: 1px solid #3A3A3A;
    padding: 10px;
    background-color: #2B2B2B;
        width: 100%;
}

footer p#copyright
{
    position: relative;
    float: left;
}

