/*stilizimi i main*/

#ballina{
    background-image: url('../images/bg_4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;

}

div.of {
	text-align: center;
	font-size: 25px;	
	margin:0 25%;
	border: 1px solid white;
	border-radius:40px;		
}

article.services, div.sherbimet_tona section{
	padding:1.166%;
	opacity: 0.9;
	}
article.services {
	text-align:center;
    }
    article.services div.sherbimet_tona section{
        display: inline;
    }

    .left {
        padding:10px;
        float:left;
      }
      
      .main {
        padding:10px;
        float:left;
      }
      
      .right {
        padding:10px;
        /* width:33%; The width is 20%, by default */
      }
      main p, h1,h2{
          color: rgb(145, 112, 70);
      }
      

      h1.kategorite_h{
          border-top:  rgb(236, 184, 115) solid 2px;
          color:  rgb(145, 112, 70);
          font-size: 2em;
          text-align: center;
          padding-bottom: 30px;
          padding-top: 30px;
      }

      div.kategorite {
        background-color: rgb(236, 184, 115);
        display:flex;
        flex-direction:row;
        justify-content:space-around;
    }
    div.kategorite div{
        background-color: white;
    }
    div.kategorite div.kat1 {
        width:20em;
        box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin:2em;
    }
    div.kat1 div.shkrim  p{
        margin:1em;
        text-align:center;
        line-height:2em;
        }
    div.kat1 div.shkrim {
        text-align:center;
        color:rgb(145, 112, 70)
        }
        
    div.kat1 img {
        width:100%;
        }
        
    div.kat1:hover img {
        filter:sepia(0.5);
        }	
      

