html, body, header, 
 nav,  section, h1, ul, 
body, p{
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
}
/*stilizimi i header*/
header{
    font-family: "Caslon SB Regular SC", Caslon Classico SC;
    background-color: #292930 ;
}
header h1,p{
    color: white;
    margin-left: 15px;
}

h1{
    font-size: 1.4em;
    padding-top: 30px;
}

nav ul li a{
    color: white;
    padding: 0.5em;
    text-decoration: none;
}

nav ul li {
    list-style: none;
    display: inline;
}


nav#mainMenu{
    font-size: 0.75em;
    text-align: right;
    padding-right: 1em;
    padding-bottom: 2em;
}


/*stilizimi i main*/
section#firstSection img{
    width: 100%;
    }
    
section#firstSection div{
    background-color: #999999;
}

div#contact_us p{
    font-size: xx-large;
    display: inline-block;
    width: 70%;
    
}

div#contact_us input[type=submit]{
    position: relative;
    float: right;
    width: fit-content;
    background-color: black;
    border-radius: 4px;
    color: white;
    font-family: "Caslon SB Regular SC", Caslon Classico SC;
    font-size: 25px;
    padding: 8px;
    border: 2px solid black;
}

section#firstSection div{
    padding: 1em;
    font-size: 1em;
}



section#services div{
    display: inline-block;
    width: 30%;
}

section#services div img{
    float: left;
    display: inline-block;
    width: 30%;
}

section#services div h3,p{
    display: inline-block;
    color: black;
    width: 60;
}


header input[type="search"]{
    float: right;
    background-color:#000000;
    border-style: none;
    font-size: medium;
    padding: 5px;
    border-radius:20px;
    margin-top: 1em;
}


/* 
header button {
    width: 20%;
    padding: 10px;
    background: #000000;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders 
    cursor: pointer;
  } */

 
